* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    margin: 0;
}
h1 {
    margin: 0;
    padding: 0;
}
h2 {
    text-align: center;
}
.container {
    max-width: 2200px;
}
.mainContainer {
    margin: auto;
    width: 100%;
    height: 70vh;
}
.innerContainer {
    display: flex;
    width: 60%;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 65vh;
    overflow: hidden;
}

#canvas {
    background-color: turquoise;
}

.options {
    display: flex;
    background-color: khaki;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.options div {
    margin: .8rem;
    margin-bottom: .1rem;
}
.color {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    cursor: pointer;
}
.shape-square-container, .shape-circle-container, .shape-line-container {
    text-align: center;
    height: fit-content;
    margin: 0 auto;
    padding: 0;
    cursor: pointer;
}

.shape-square:hover {
    background-color: white;
}
.shape-square {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: .3rem;
}
.draw-circle, .draw-square, .clear {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: .3rem;
}

.draw-circle:hover, .draw-square:hover, .clear:hover {
    background-color: white;
}

@media only screen and (max-width: 1000px){

}